@(adhForm: Form[Adherent], id: Long)(implicit request : play.mvc.Http.Request, messages : play.i18n.Messages)

@main("Edit") {
@helper.form(action = routes.HomeController.updateOk(id)) {
@helper.CSRF.formField
@helper.inputText(adhForm("nom"))
@helper.inputText(adhForm("prenom"))
@helper.inputText(adhForm("nbAnneeAdh"),Symbol("_label")->("Nombre d'années d'adhérence"))
@helper.select(adhForm("adherentMtn"),options=Seq("Oui"->"Oui","Non"->"Non"),Symbol("_label")->("Adhérent(e) actuellement?"))
<input type="submit" value="Valider"/>
}
<Title>@id</Title> 


<a href ="@routes.HomeController.show(id)">La personne</a>
}